resources/
public/
assets/jsconfig.json
.hugo_build.lock

# Local Netlify folder
.netlify

bin/
node_modules/
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
