figure.quote {
  padding-bottom: 1rem;

  & > figcaption {
    text-align: right;
    font-size: 0.8rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  & > a.zola-anchor {
    display: none;
    padding-left: 0.25em;
    opacity: 0.5;
  }
  &:hover > a.zola-anchor, &:focus > a.zola-anchor {
    display: inline-block;
  }
}
