{% extends "base.html" %}

{% block feed %}
<link rel="alternate feed" type="application/atom+xml" title="Consciousness (thelonelyghost)" href="{{get_url(path="/micro/atom.xml")}}" />
{% endblock feed %}

{% block bodyclasses %}micro index{% endblock bodyclasses %}

{% block content %}
<h1 class="title">{{ section.title | default(value="Micro") | title}} <small><a href="{{get_url(path="/micro/atom.xml")}}"><span class="icon"><i class="bx bx-rss" aria-hidden="true"></i></span></a></small></h1>

{% for page in section.pages %}
<article>
	<section class="media">
		<div class="media-left">
			<figure class="profile image is-48x48">
				<img class="is-rounded" src="{{config.extra.avatar}}" alt="David Alexander smiling in photo" />
			</figure>
		</div>
		<div class="media-content">
			<p class="title is-4">David Alexander</p>
			<p class="subtitle is-6">@thelonelyghost</p>
		</div>
	</section>
	<div class="content">
		{{ page.content | safe }}
		<p><small><a href="{{page.permalink | safe}}">{{macros::date(page_date=page.date)}}</a></small></p>
	</div>
</article>
{% endfor %}

{% endblock content %}
