{{- define "title" }}{{ .Title }} {{ if .Params.organization }}@ {{ .Params.organization }} {{ else }}- {{ .Site.Title }}{{ end }}{{ end -}}

{{ define "content" }}
	<article class="page single">
    <h1 class="single-title animate__animated animate__pulse animate__faster" style="padding-bottom: 0;">
      <span>{{ .Title }}</span>
    </h1>
    <h2 class="single-subtitle animate__animated animate__fadeIn" style="padding-top: 0; font-size: 1.2rem; font-variant: small-caps">
      <span>by {{ .Params.organization }}</span>
    </h2>
		<div class="content" id="content">
      {{ .Content }}
		</div>
	</article>
{{ end }}
