*, *:before, *:after {
  box-sizing: border-box;
}

dl > dt {
  font-weight: bold;
}

figure.quote {
  text-align: left;

  p {
    font-size: 1rem;
    opacity: 1;
  }

  figcaption {
    padding-left: 3em;
    font-size: .8rem;
  }
}


.tip {
  margin: 0.5em;
  border-color: rgba(200, 200, 100, 0.1);
  background-color: rgba(200, 200, 100, 0.1);
}
.example {
  display: block;
  border: thin solid rgba(100, 200, 200, 0.1);
  background-color: rgba(100, 200, 200, 0.1);
}

.tip, .example, .diversion {
  overflow: auto;
  padding: 0.8em 1em;
  border-radius: 0.2em;
  border-width: 0.01rem; 
  border-style: solid;

  h1, h2, h3, h4, h5 {
    &:first-child {
      margin-top: 0;
    }
  }
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.15rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1.05rem;
  }
}
