{% extends "base.html" %}

{% block bodyclasses %}home{% endblock bodyclasses %}

{% block content %}
<section class="section content">
	<figure class="image profile mx-auto">
		<img alt="Photograph of David Alexander" src="{{config.extra.avatar}}" />
	</figure>
	<h1 class="title">David Alexander</h1>
	<p class="subtitle">Security nerd, builder of things, and indie web enthusiast</p>
	<nav class="buttons linktree">
		<a class="button is-large" rel="me" title="GitHub" href="https://github.com/TheLonelyGhost" target="blank"><span class="icon"><i class="bxl bx-github" aria-hidden="true"></i></span></a>
		<a class="button is-large" rel="me" title="GitLab" href="https://gitlab.com/TheLonelyGhost" target="blank"><span class="icon"><i class="bxl bx-gitlab" aria-hidden="true"></i></span></a>
		<a class="button is-large" rel="me" title="Codeberg" href="https://codeberg.org/thelonelyghost" target="blank"><span class="icon"><i class="bx bx-mountain-peak" aria-hidden="true"></i></span></a>
		<a class="button is-large" rel="me" title="Sourcehut" href="https://sr.ht/~thelonelyghost" target="blank"><span class="icon"><i class="bx bx-circle" aria-hidden="true"></i></span></a>
		<a class="button is-large" rel="me" title="LinkedIn" href="https://www.linkedin.com/in/thelonelyghost" target="blank"><span class="icon"><i class="bxl bx-linkedin" aria-hidden="true"></i></span></a>
		<a class="button is-large" rel="me" title="Mastodon" href="https://hachyderm.io/@thelonelyghost" target="blank"><span class="icon"><i class="bxl bx-mastodon" aria-hidden="true"></i></span></a>
		<a class="button is-large" rel="me" title="Twitch" href="https://www.twitch.tv/onus_on_you" target="blank"><span class="icon"><i class="bxl bx-twitch" aria-hidden="true"></i></span></a>
		<a class="button is-large" title="Feed" href="{{get_url(path="/posts/atom.xml")}}"><span class="icon"><i class="bx bx-rss" aria-hidden="true"></i></span></a>
	</nav>
</section>
{% endblock content %}
