{% macro bio() %}
<aside class="box">
	<section class="media">
		<div class="media-left">
			<figure class="profile image is-128x128">
				<img class="is-rounded" src="https://avatars.githubusercontent.com/u/1276113" alt="Photograph of David Alexander" />
			</figure>
		</div>
		<div class="media-content">
			<p>A public notebook, written by <strong>David Alexander</strong>, who lives and works in the greater Indianapolis area building useful things.</p>
		</div>
	</section>
</aside>
{% endmacro bio %}

{%- macro date(page_date, fmt="%l:%M %p - %a, %-d %b %Y", classes="") -%}
<time {% if classes %}class="{{ classes }}" {% endif %}datetime="{{ page_date | date(format="%+", timezone="UTC") }}">{{ page_date | date(format=fmt, locale="en_US") }}</time>
{%- endmacro date -%}
