<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<figure class="image">
				<!-- Ghost icon made by Freepik from www.flaticon.com -->
				<img src="/icon.svg" alt="Happy ghost" />
			</figure>
			Implements Programmer
		</a>

		<a role="button" class="navbar-burger" data-target="navbarMain" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div class="navbar-menu" id="navbarMain">
		<a class="navbar-item" href="/about/">About</a>
		<a class="navbar-item" href="/posts/">Posts</a>
		<a class="navbar-item" href="/micro/">Micro</a>
		<a class="navbar-item" href="/talks/">Talks</a>
		<a class="navbar-item" href="/projects/">Projects</a>
	</div>
</nav>
