<footer class="footer">
	<section class="content has-text-centered">
		<p>&copy; {{now() | date(format="%Y")}} David Alexander</p>
		<p><a href="{{get_url(path="@/disclaimer.md")}}">Disclaimer</a> | <a rel="license" href="{{get_url(path="@/license.md")}}">License</a></p>
	</section>
	<section class="block has-text-centered">
		<figure class="image is-128x128 mx-auto">
			<img src="/icon.svg" alt="Happy ghost" />
			<figcaption style="font-size: 10px; color: var(--bulma-text-weak);">
				<em>(Credit: <a href="https://www.flaticon.com" rel="nofollow noopener noreferrer" target="blank" style="color: var(--bulma-text-weak);">Freepik</a>)</em>
			</figcaption>
		</figure>
	</section>
</footer>
