{% extends "base.html" %}

{% block bodyclasses %}talk index{% endblock bodyclasses %}

{% block breadcrumbs %}
<!--
<nav class="breadcrumb" aria-label="breadcrumbs">
	<ol>
		<li class="is-active"><a href="#" aria-current="page">Talks</a></li>
	</ol>
</nav>
-->
{% endblock breadcrumbs %}

{% block content %}
<section class="content">
	<h1 class="title">{{ section.title | default(value="Talks") | title }}</h1>

	<ul>
		{% for page in section.pages %}
		<li><a href="{{ page.permalink | safe }}">{{ page.title }}</a> <small>({{ macros::date(page_date=page.date, classes="relative") }})</small></li>
		{% endfor %}
	</ul>

	{{ macros::bio() }}
</section>
{% endblock content %}
