{% extends "base.html" %}

{% block feed %}
<link rel="alternate feed" type="application/atom+xml" title="{{ config.title }}" href="{{get_url(path="/posts/atom.xml")}}" />
{% endblock feed %}

{% block bodyclasses %}post index{% endblock bodyclasses %}

{% block content %}
<section class="content mb-5">
	<h1 class="title">{{ section.title | default(value="Blog") | title }} <small><a href="{{get_url(path="/posts/atom.xml")}}"><span class="icon"><i class="bx bx-rss" aria-hidden="true"></i></span></a></small></h1>
	{% if body %}{{body | markdown() | safe}}{% endif %}

	<ul>
		{% for page in section.pages %}
		<li><a href="{{ page.permalink | safe }}">{{ page.title }}</a> <small>({{ macros::date(page_date=page.date, classes="relative") }})</small></li>
		{% endfor %}
	</ul>
</section>
{% endblock content %}
