{% extends "base.html" %}

{% block bodyclasses %}project index{% endblock bodyclasses %}

{% block breadcrumbs %}
<!--
<nav class="breadcrumb" aria-label="breadcrumbs">
	<ol>
		<li class="is-active"><a href="#" aria-current="page">Projects</a></li>
	</ol>
</nav>
-->
{% endblock breadcrumbs %}

{% block content %}
<section class="content">
	<h1 class="title">{{ section.title | default(value="Projects") | title }}</h1>

	<ul>
		{% for page in section.pages %}
		<li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>

	{% include "bio.html" ignore missing %}
</section>
{% endblock content %}
